<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- <link href="" rel="stylesheet"> -->
<body>

<h2><strong>Rejestracja</strong></h2>
<!-- <div ng-controller="Ctrl"> -->

<form ng-app=""  method="post" name="signForm" action="www.google.pl" nonvalidate data-ng-submit="submitData($event)">
<fieldset>
  <label for="emailAddress">Email:</label>
  <input type="email" name="emailAddress" ng-model="email" id="email" placeholder="Wpisz swoj adres email" required><br />

  <label for="newPassword">Hasło:</label>
  <input type="password" name="newPassword" id="pass1" ng-minlength="6" ng-model="newPassword" required><br />

  <label for="verifyPassword">Powtorz hasło:</label>
  <input type="password" name="verifyPassword" id="pass2" ng-minlength="6" ng-model="verifyPassword" required onkeyup="checkPass(); return false;">

  <br /><span style="color:maroon; font-style:italic" id="verifyMessage" class="verifyMessage"></span><br />

  <p>
    <input type="submit"
    ng-disabled="signForm.emailAddress.$pristine && signForm.emailAddress.$invalid || signForm.newPassword.$invalid || signForm.verifyPassword.$invalid">
  </p>
</fieldset>
</form>
<!-- </div> -->


<script>
function checkPass()
{
    var pass1 = document.getElementById('pass1');
    var pass2 = document.getElementById('pass2');
    var message = document.getElementById('verifyMessage');

    if(pass1.value != pass2.value) message.innerHTML="Wpisane hasła nie są takie same!"
    else message.innerHTML="";
}
</script>


</body>
</html>
