body {
  background-color: rgb(250, 240, 231);
  padding: 0;
  margin: 0;
}

header {
    background-color: rgb(162, 120, 91);
    height: 15%;
  /*  margin-left: 5%;
    margin-right: 5%;*/
    margin-bottom: 2px;
    color: white;
}

.headerText {
  align-content: flex-end;
  justify-content: center;
  padding: 15px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

h2 {
  padding: 2px;
  font-family: "Dosis", Times, serif;
  font-style: oblique;
}

fieldset {
  padding: 15px;
  font: sans-serif;
}

label {
  width:25%;
  text-align: left;
  }

.in {
  width: 60%;
  margin: 5px;
}

.in:focus {
  margin: 5px;
  border: 1px solid #555;
}

.warning {
  background-color: rgb(242, 213, 213);
  border-radius: 3px;
  margin-top: 15px;
  padding: 5px;
}

main {
  background-color: rgb(59, 52, 40);
  padding-top: 30px;;
  padding-bottom: 30px;
/*  margin-left: 5%;
  margin-right: 5%;*/
  height: auto;
}

footer {
  background-color: rgb(162, 120, 91);
/*  margin-left: 5%;
  margin-right: 5%;*/
  margin-top: 2px;
  padding: 10px;
  color: white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 1px solid black;
  padding: 5px;
  background-color: rgb(250, 240, 231);

}

img {
    width: auto;
    height: auto;
}

nav {
    font-family: 'Dosis', serif;
}

a {
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
}

li {
    background-color: #e09671;
    padding: 5px;
    list-style: none;
}

ul>li{
    background-color: transparent;
    padding: 0;
}

nav>ul>li {
    float: left;
    width: 20%;
    text-align: center;
}
nav>ul>li>a{
    width: 100%;
    padding: 15px 0;
}

nav:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul:first-child{
  padding-left: 30%;
}

.animation {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background:  rgb(59, 52, 40);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.animation:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(250, 240, 231);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.animation:hover, .animation:active {
  color: rgb(250, 240, 231);
}
.animation:hover:before, .animation:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
