<!DOCTYPE html>
<html ng-app="sign_in" ng-controller="signIn" >
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head>
    <base href="/">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bookWEB</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" />
		<link rel="stylesheet" href="styles.css">

</head>

<body data-ng-controller="signIn">
    <div ui-view>
			<h2><strong>Logowanie</strong></h2>
			  <form name="signInForm" method="POST" novalidate action="//api.test/auth" data-ng-hide="correctLogIn" data-ng-submit="submitData($event)">
					<fieldset >
						<div>
							<label for="email">Login lub adres e-mail: </label>
							<input type="email" required name="email" ng-model="user.email" placeholder="Login lub adres email" >
							<div class="error" ng-show="signInForm.email.$invalid && signInForm.email.$dirty">
								<span ng-show="signInForm.email.$error.pattern">Niepoprawne dane</span>
								<span ng-show="signInForm.email.$error.required">Pole wymagane</span>
							</div>
						</div>
						<div >
		          <label for="password">Hasło: </label>
		          <input type="password" required name="password" data-ng-minlength="6" data-ng-pattern="passPattern" data-ng-model="user.pass">

		          <div class="error" ng-show="signInForm.password.$invalid && signInForm.password.$dirty">
		            <span ng-show="signInForm.password.$error">Hasło nieprawidłowe</span>
		          </div>
		        </div>
						<input type="submit" value="Zaloguj się" data-ng-disabled="signInForm.$invalid">
						<input type="submit" value="Zaloguj się przez Facebook" data-ng-disabled="signInForm.$invalid">
						<div>
							<label for="registration"> Nie masz konta ? </label>
							<input type="submit" value="Zarejestruj się" />
							<!-- <p><a href="www.facebook.com">Nie pamiętam hasła</a></p> -->
							<p><a href="file:///C:/Users/us/Documents/GitHub/FrontendTeam/sign_in/remind_password.html">Nie pamiętam hasła</a></p>
						</div>

		</fieldset>
		</form>
		<p class="bg-success login-info" data-ng-show="correctLogIn">Zalogowano</p>
	  <p class="bg-warning login-info" data-ng-show="incorrectLogIn">Niepoprawny login lub hasło</p>
	  <p class="bg-danger login-info" data-ng-show="serverProblem">Błąd usługi</p>
    </div>

    <script src="/sign_in/signIn.js"></script>
</body>

</html>
