<!DOCTYPE html>
<html ng-app="sign_in" ng-controller="signIn" >


<head>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
    <base href="/">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Logowanie</title>

    <link rel="stylesheet" href="Users/Izabela/FrontendTeam/FrontendTeam/bootstrap.css">
    <link rel="stylesheet" href="Users/Izabela/FrontendTeam/FrontendTeam/styles.css">

  <!--  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-messages.min.js"></script>

</head>

<body data-ng-controller="signIn">

  <header>
  <!--  <img src="logo.png" height="193" width="250"/>-->
  <h1 class="headerText">Najlepsza strona w internetach.</h1>

  <nav>
    <ul>
      <li><a href="Users/Izabela/FrontendTeam/FrontendTeam/index.html" class="animation">Strona Głowna</a></li>
      <li><a href="Users/Izabela/FrontendTeam/FrontendTeam//sign_in/sign-in-page.html" class="animation">Logowanie</a></li>
      <li><a href="Users/Izabela/FrontendTeam/FrontendTeam/sign-up.html" class="animation">Rejestracja</a></li>
    </ul>
  </nav>
  </header>

  <main>

    <div ui-view ng-init="myVar = 'bookweb.jpg'">
      <div class="container">


			  <form name="signInForm" method="POST" novalidate action="//api.test/auth" data-ng-hide="correctLogIn" data-ng-submit="submitData($event)">
					<!-- <fieldset > -->

<!-- <img ng-src="C:\Users\us\Documents\GitHub\FrontendTeam\sign_in\bookweb.jpg" alt="www.bookweb.pl"/> -->
          <!-- <img ng-src="bookweb.png" alt="bookweb.pl"> -->
          <h2><strong>Logowanie</strong></h2>
						<div >
							<!-- <label for="email">Login lub adres e-mail: </label> -->
							<br/><input type="email" class="in" required name="email" ng-model="user.email" placeholder="Login lub adres email"><br/>
              <div class="error" ng-messages="signInForm.email.$error" role="alert" md-auto-hide="false" ng-if="signInForm.email.$touched">
								<!-- <div ng-message="signInForm.email.$error.pattern">Niepoprawne dane</div> -->
								<!-- <div ng-message="required">Pole wymagane</div> -->
							</div>
						</div>
						<div >
		          <!-- <label for="password">Hasło: </label> -->
		          <!-- <input type="password" required name="password" data-ng-minlength="6" data-ng-pattern="passPattern" data-ng-model="user.pass"> -->
              <input type="password" class="in" required name="password" data-ng-minlength="6" placeholder="Hasło" data-ng-pattern="passPattern" data-ng-model="user.pass">
		          <div class="error" ng-messages="signInForm.password.$error" >
		            <!-- <div ng-message="signInForm.password.$error">Hasło nieprawidłowe</div> -->
		          </div>
		        </div>
						<input type="submit" class="btn-default" style="text-align: center; margin-top: 10px;" value="Zaloguj się" data-ng-disabled="signInForm.$invalid">
						<input type="submit" class="btn-default" style="text-align: center; margin-top: 10px;" value="Zaloguj się przez Facebook" data-ng-disabled="signInForm.$invalid">
						<p><a href="http://facebook.com" title="http://facebook.com"><small><div style="margin: 10px;">Zaloguj się przez Facebook</div></small></a></p>
<hr />
            <div ng-controller="signIn">
							<label for="registration"> <small><div style="margin: 10px;">Nie masz konta?</div></small></label>
							<input type="submit" class="btn-default" style="text-align: center; margin-top: 10px;" value="Zarejestruj się" title="Rejestracja"/>
							<!-- <p><a href="http://facebook.com">Nie pamiętam hasła</a></p> -->
							<p><a href="Users/Izabela/FrontendTeam/FrontendTeam//sign_in/remind_password.html" title="Przypomnij hasło"><small>Nie pamiętam hasła</small></a></p>
              <!--<p><a href="file:///C:/Users/us/Documents/GitHub/FrontendTeam/sign_in/remind_password.html" title="Przypomnij hasło"><small>Nie pamiętam hasła</small></a></p>-->
						</div>
		<!-- </fieldset> -->
		</form>
		<!-- <p class="bg-success login-info" data-ng-show="correctLogIn">Zalogowano</p>
	  <p class="bg-warning login-info" data-ng-show="incorrectLogIn">Niepoprawny login lub hasło</p>
	  <p class="bg-danger login-info" data-ng-show="serverProblem">Błąd usługi</p>-->
	</div>
  </div>

  <script src="/sign_in/signIn.js"></script>

</main>
</body>

<footer>
  Stopka
</footer>

</html>
